
.homePage {
    /* padding-top будет регулироваться HeroSection,
       но для общего случая лучше предусмотреть отступ от шапки */
    padding-top: 50px;
    min-height: 100vh;
    background-color: var(--color-dark);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Начинаем сверху */
    align-items: center;
    text-align: center;
}